<div class="login">
    <h1>Login</h1>


    <div class="card flex justify-content-center">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
            <div class="card flex justify-content-center">
                <span class="p-float-label">
                    <input pInputText id="username" formControlName = "username" />
                    <label htmlFor="username">Usuario</label>
                </span>
            </div>

            <div class="password">
                <span class="p-float-label">
                    <p-password [feedback]="false" formControlName = "password"></p-password>
                    <label for="password">Contraseña</label>
                </span>
            </div>
            <div *ngIf="formLogin.get('password')?.hasError('loginError')">usuario y contraseña incorrecta.</div>

            <div class="button">
                <p-button type="submit" label="Ingresar" styleClass="p-button-rounded"></p-button>
            </div>

            
           

        </form>
    </div>
</div>