<h1 class="title">Nuestros Clientes</h1>
<p-toast></p-toast>
<p-table class="table" [value]="clients">
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>nombres</th>
      <th>apellidos</th>
      <th>telefono</th>
      <th>direccion</th>
      <th>estado</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client>
    <tr>
      <td>{{ client.id }}</td>
      <td>{{ client.names }}</td>
      <td>{{ client.lastNames }}</td>
      <td>{{ client.phone }}</td>
      <td>{{ client.address }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          [routerLink]="['/clientes/editar', client.id]"
        ></button>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          
          (click)="confirm($event, client.id)"
        ></button>
      </td>
      <p-confirmPopup></p-confirmPopup>
    </tr>
  </ng-template>
</p-table>

<div>
  <p-button
    label="Nuevo"
    icon="pi pi-check"
    routerLink="/clientes/nuevo"
    class="button"
  ></p-button>
</div>
